{% extends 'base.html' %}
{% block content %}
<div class="container">
    <div class="page-header">
        <img src="static/carlos_tasca.png" style="width:300px">
    </div>
</div>
<div class="container">
    <p>
    Carlos' main passion are the stars. He lives in Tenerife, in the Canary Islands. In addition to music, he enjoys computer programming and the python code for setting up a website like this is available on github.com/carlosallende/miusicbox.
    </p>
    <font color="purple">
    <p>
    La mayor pasi&#243;n de Carlos son las estrellas. Vive en Tenerife, en las Islas  Canarias. Adem&#225;s de la m&#250;sica, disfruta de la programaci&#243;n de ordenadores y el c&#243;digo de python para montar una p&#225;gina web como &#233;sta est&#233; disponible en github.com/carlosallende.
    </p>
    </font>
</div>
{% endblock %}

